@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Varela Round", sans-serif;
    background-color: #1a1621;
    position: relative;
}

.add-task-block {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.404);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.add-task-block.active {
    visibility: visible;
}

.add-task-block-wrapper {
    width: 800px;
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    color: white;
    position: relative;
}

.input-block {
    width: 90%;
}

.add-icon {
    position: absolute;
    left: 50px;
    top: 3px;
    opacity: 0.6;
    font-size: 30px;
    cursor: default;
}

.exit-icon {
    position: absolute;
    right: 50px;
    font-size: 20px;
    top: 10px;
    opacity: 0.6;
    cursor: pointer;
}

.input-block input {
    width: 100%;
    border: solid 2px #7c59af;
    border-radius: 10px;
    background-color: #302640;
    color: white;
    opacity: 0.8;
    padding: 10px 20px 10px 40px;
}


.wrapper {
    width: 800px;
    max-width: 700px;
}

.container {
    width: 100%;
    padding: 0 20px 0px 20px;
    box-sizing: border-box;
}


.to-do-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-radius: 20px;
}

.to-do-list-type {
    color: #8259c0;
    cursor: default;
}

.detele-tasks-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    background-color: #302640;
    color: white;
    padding: 7px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.detele-tasks-btn i {
    font-size: 20px;
}

.to-do-list {
    height: 400px;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.task-block {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #2f2540;
    color: white;
    padding: 3px 10px;
    border-radius: 10px;
}

.check-box-state {
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: transparent;
    border: solid 1px white;
    border-radius: 3px;
}

.dots {
    font-size: 30px;
    cursor: default;
    opacity: 0.5;
    color: #8259c0;
}

.task-text {
    font-size: 14px;
    opacity: 0.8;
}


.to-do-bottom-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    font-size: 35px;
    cursor: pointer;
    color: white;
    background-color: #2f2540;
    width: max-content;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px auto 0 auto;
    z-index: 4;
    position: relative;
}

.prechek-btn {
    padding: 5px;
    border-radius: 10px;
}

.checked-btn {
    background-color: #251e31;
    border-radius: 10px;
}

.add-first-task {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity .2s;
    visibility: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    &:hover {
        opacity: 0.9;
    }
}

.add-first-task.active {
    visibility: visible;
}

.plus-block {
    font-size: 40px;
}

.add-text-block {
    font-size: 14px;
}